{% load static %}
 <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget">
                            <a href="#" class="logo d-inline-block"><img src="assets/img/logo2.png" alt="image"></a>
                            <ul class="footer-contact-info">
                                <li><span>Phone:</span> <a href="tel:+{{ settings.phone }}">(+20) {{ settings.phone }}</a></li>
                                <li><span>Email:</span> <a href="mailto:{{ settings.email }}">{{ settings.email }}</a></li>
                                <li><span>Address:</span> <a href="#" target="_blank">{{ settings.address }}</a></li>
                            </ul>
                            <ul class="social">
                                <li><a href="{{ settings.facebook }}" target="_blank"><i class='bx bxl-facebook-square'></i></a></li>
                                <li><a href="{{ settings.twitter }}" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="{{ settings.instagram }}" target="_blank"><i class='bx bxl-instagram-alt'></i></a></li>
                                <li><a href="{{ settings.developer }}" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
                                <li><a href="https://wa.me/{{ settings.whatsapp }}" target="_blank"><i class='bx bxl-whatsapp'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Information</h3>

                            <ul class="link-list">
                                <li><a href="{% url 'main:about' %}">About Us</a></li>
                                <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
                                <li><a href="{% url 'main:information' 'privacy-policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'main:information' 'terms-of-service' %}">Terms of service</a></li>
                                <li><a href="{% url 'main:customer' %}">Delivery Information</a></li>
                                <li><a href="{% url 'main:customer' %}">Orders and Returns</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Customer Care</h3>

                            <ul class="link-list">
                                <li><a href="{% url 'main:faq' %}">Help & FAQs</a></li>
                                <li><a href="profile-authentication.html">My Account</a></li>
                                <!-- <li><a href="cart.html">Order History</a></li> -->
                                <!-- <li><a href="cart.html">Wishlist</a></li> -->
                                <li><a href="{% url 'main:contact' %}">Newsletter</a></li>
                                <li><a href="{% url 'main:information' 'purchase-guide' %}">Purchasing Policy</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Newsletter</h3>
                            <p>Sign up for our mailing list to get the latest updates & offers.</p>
                            <form data-bs-toggle="validator" method="POST">
                              {% csrf_token %}
                                <input type="email" class="form-control" placeholder="Enter your email address" name="email" required autocomplete="off">
                                <button style="width:100%; margin-top:10px;" type="submit" class="default-btn">Subscribe Now</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <p>Copyright @2023 HealthTech. BackEnd By <a href="{{ settings.developer }}" target="_blank">EslamEs</a></p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="payment-types">
                                <ul class="d-flex align-items-center justify-content-end">
                                    <li>We accept payment via:</li>
                                    <li><a href="#" target="_blank"><img src="{% static 'img/payment-types/visa.png' %}" alt="image"></a></li>
                                    <li><a href="#" target="_blank"><img src="{% static 'img/payment-types/mastercard.png' %}" alt="image"></a></li>
                                    <!-- <li><a href="#" target="_blank"><img src="assets/img/payment-types/paypal.png" alt="image"></a></li> -->
                                    <li><a href="#" target="_blank"><img src="{% static 'img/payment-types/descpver.png' %}" alt="image"></a></li>
                                    <li><a href="#" target="_blank"><img src="{% static 'img/payment-types/american-express.png' %}" alt="image"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

