{% extends 'base.html' %}
{% load static %}
<title>{% block title %} HealthTech | Categories {% endblock title %}</title>
{% block content %}

<!-- Start Page Title Area -->
<section class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h1>Categories</h1>
      <ul>
        <li>Categories</li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title Area -->

<!-- Start Categories Area -->
<section class="categories-area pt-70 pb-40">
  <div class="container">
    <div class="section-title">
      <h2>Categories</h2>
    </div>

    <div class="row">
      {% for category in category %}
      <div class="col-lg-2 col-sm-4 col-md-4">
        <div class="single-categories-box">
          {% if category.url %}
          <img src="{{ category.url.url }}" alt="image">
          {% endif %}
          <h3>{{ category.name }}</h3>
          <a href="#" class="link-btn"></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Categories Area -->

<!-- Start Banner Categories Area -->
<!-- <section class="banner-categories-area pb-40">
            <div class="container">
                <div class="section-title">
                    <h2>Categories Style 02</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-banner-categories-box">
                            <img src="{% static 'img/banner-categories/banner-categories-img1.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">Temperature</span>
                                <h3><a href="#">Ear Thermometers</a></h3>
                                <div class="btn-box">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="default-btn"><i class="flaticon-trolley"></i> Shop Now</a>
                                        <span class="price">$49.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-banner-categories-box">
                            <img src="{% static 'img/banner-categories/banner-categories-img2.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">Personal</span>
                                <h3><a href="#">Favorite Collection</a></h3>
                                <div class="btn-box">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="default-btn"><i class="flaticon-trolley"></i> Shop Now</a>
                                        <span class="price">$69.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-banner-categories-box">
                            <img src="{% static 'img/banner-categories/banner-categories-img3.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">Your Equipment</span>
                                <h3><a href="#">Must Haves</a></h3>
                                <div class="btn-box">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="default-btn"><i class="flaticon-trolley"></i> Shop Now</a>
                                        <span class="price">$29.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-banner-categories-box">
                            <img src="{% static 'img/banner-categories/banner-categories-img4.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">Take 20% OFF</span>
                                <h3><a href="#">Need Now!</a></h3>
                                <div class="btn-box">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="default-btn"><i class="flaticon-trolley"></i> Shop Now</a>
                                        <span class="price">$55.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!-- End Banner Categories Area -->

<!-- Start Products Promotions Area -->
<!-- <section class="products-promotions-area pb-40">
            <div class="container">
                <div class="section-title">
                    <h2>Categories Style 03</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-products-promotions-box">
                            <img src="{% static 'img/promotions/promotions-img1.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">Special Deal</span>
                                <h3>Mega Sale Mela</h3>
                                <span class="discount"><span>up to</span> 70% OFF</span>
                                <a href="#" class="link-btn">Shop Now <i class="flaticon-next"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-products-promotions-box">
                            <img src="{% static 'img/promotions/promotions-img2.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">New Arrivals</span>
                                <h3>Hand Washer</h3>
                                <span class="discount"><span>up to</span> $49.00</span>
                                <a href="#" class="link-btn">Shop Now <i class="flaticon-next"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-products-promotions-box">
                            <img src="{% static 'img/promotions/promotions-img3.jpg' %}" alt="image">

                            <div class="content">
                                <span class="sub-title">Hot Collection</span>
                                <h3>Glucose Meter</h3>
                                <span class="discount"><span>up to</span> 20% OFF</span>
                                <a href="#" class="link-btn">Shop Now <i class="flaticon-next"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!-- End Products Promotions Area -->

<!-- Start Categories Banner Area -->
<!-- <section class="categories-banner-area pb-40">
            <div class="container">
                <div class="section-title">
                    <h2>Categories Style 04</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="categories-box">
                            <img src="{% static 'img/banner-categories/banner-categories-img5.jpg' %}" alt="image">

                            <div class="content">
                                <h3>Drugs Collection!</h3>
                            </div>

                            <a href="#" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="categories-box">
                                    <img src="{% static 'img/banner-categories/banner-categories-img6.jpg' %}" alt="image">

                                    <div class="content">
                                        <h3>Trending Collections!</h3>
                                    </div>

                                    <a href="#" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="categories-box">
                                    <img src="{% static 'img/banner-categories/banner-categories-img7.jpg' %}" alt="image">

                                    <div class="content">
                                        <h3>Sanitizer!</h3>
                                    </div>

                                    <a href="#" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="categories-box">
                                    <img src="{% static 'img/banner-categories/banner-categories-img8.jpg' %}" alt="image">

                                    <div class="content">
                                        <h3>Hot Products!</h3>
                                    </div>

                                    <a href="#" class="link-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!-- End Categories Banner Area -->

{% endblock content %}
