{% extends 'base.html' %}
{% load static %}
<title>{% block title %} HealthTech | About Us {% endblock title %}</title>
{% block content %}


<!-- Start Page Title Area -->
<section class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h1>About Us</h1>
      <ul>
        <li>About</li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <span class="sub-title">We believe in less but better</span>
          <h2>{{about.title}}</h2>
          <p>{{about.text}}</p>
          <div class="quotes-box">
            <span>A message from our founders</span>
            <p>{{about.message}}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="{{about.img.url}}" alt="image">

          <div class="shape">
            <img src="{% static 'img/about/about-shape1.png' %}" alt="image">
            <img src="{% static 'img/about/about-shape2.png' %}" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start Funfacts Area -->
<section class="funfacts-area pb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3 col-6">
        <div class="single-funfacts-box">
          <h3>{{users_count}}+</h3>
          <span>Clients</span>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-3 col-6">
        <div class="single-funfacts-box">
          <h3>{{blog_count}}+</h3>
          <span>Blogs</span>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-3 col-6">
        <div class="single-funfacts-box">
          <h3>{{pro_count}}+</h3>
          <span>Products</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Funfacts Area -->

<!-- Start Why Choose Us Area -->
<section class="why-choose-us-area pb-40">
  <div class="container">
    <div class="section-title">
      <h2>Why Choose Us</h2>
    </div>

    <div class="row">
      {% for why in why %}
        <div class="col-lg-4 col-sm-6 col-md-6 {% if forloop.last %} offset-lg-0 offset-sm-3 offset-md-3 {% endif %}">
          <div class="single-why-choose-box">
            <div class="icon">
              <i class="flaticon-fast-delivery"></i>
            </div>
            <h3>{{why.title}}</h3>
            <p>{{why.text}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Why Choose Us Area -->

<!-- Start Feedback Area -->
<!-- <section class="feedback-area ptb-70 bg-f7f8fa">
  <div class="container">
    <div class="section-title">
      <h2>What Our Members Are Saying</h2>
    </div>

    <div class="feedback-slides-two owl-carousel owl-theme">
      <div class="single-feedback-box">
        <p>“I ordered Saftey equipment at Drodo site. Within 24 hours of ordering, they delivered my products, the
          quality of the product is very good. I am very happy! ”</p>
        <div class="client-info">
          <div class="d-flex align-items-center justify-content-center">
            <img src="assets/img/user1.jpg" alt="image">
            <div class="title">
              <h3>Dominick Eakin</h3>
              <span>Counselor</span>
            </div>
          </div>
        </div>
      </div>

      <div class="single-feedback-box">
        <p>“I ordered Saftey equipment at Drodo site. Within 24 hours of ordering, they delivered my products, the
          quality of the product is very good. I am very happy! ”</p>
        <div class="client-info">
          <div class="d-flex align-items-center justify-content-center">
            <img src="assets/img/user2.jpg" alt="image">
            <div class="title">
              <h3>Sarah Taylor</h3>
              <span>Counselor</span>
            </div>
          </div>
        </div>
      </div>

      <div class="single-feedback-box">
        <p>“I ordered Saftey equipment at Drodo site. Within 24 hours of ordering, they delivered my products, the
          quality of the product is very good. I am very happy! ”</p>
        <div class="client-info">
          <div class="d-flex align-items-center justify-content-center">
            <img src="assets/img/user3.jpg" alt="image">
            <div class="title">
              <h3>James Andy</h3>
              <span>Counselor</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End Feedback Area -->

<!-- Start Doctors Area -->
<section class="doctors-area pt-70 pb-40">
  <div class="container">
    <div class="section-title">
      <h2>Meet Our Dedicated Doctors</h2>
    </div>

    <div class="row">
      {% for meet in meet %}
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-doctors-box">
          <div class="image">
            <img src="{{ meet.img.url }}" alt="image">

            <ul class="social">
              <li><a href="{{ meet.facebook }}" target="_blank"><i class='bx bxl-facebook-square'></i></a></li>
              <li><a href="{{ meet.twitter }}" target="_blank"><i class="bx bxl-twitter"></i></a></li>
              <li><a href="{{ meet.instagram }}" target="_blank"><i class='bx bxl-instagram-alt'></i></a></li>
              <li><a href="{{ meet.linkedin }}" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
            </ul>
          </div>

          <div class="content">
            <h3>{{ meet.name }}</h3>
            <span>>{{ meet.about }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Doctors Area -->

{% endblock content %}
